.community{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 120px;
    
}
.eclipse{
    position: absolute;
    top: 50%;
    left: 48.5%;
    transform: translate(-50%, -50%);
}
.lady-img{
    position: relative;
    
}
.eclipse{
    width: 450px;
}