
  .card {
    position: relative;
    width: 260px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height 0.3s ease-in-out;
    border-radius: 10px;
  }
  .product{
    display: flex;
    flex-direction: column;
    background-color: #F0F1F1;
    padding: 15px;
    border-radius: 10px;
  }
  .card-image{
    width: 160px;
    height: 180px;
    background-size: cover;
  }
  .card-description{
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .price{
    align-items: end;
  }
  .card:hover {
    height: auto;
    background-color: #F0F1F1;
  }
  
  .wishlist {
    width: 24px;
    margin-left: auto;
  }
  
  .add-to-cart {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #5B9B3E;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: bottom 0.3s ease, opacity 0.s ease; 
    opacity: 0; 
  }
  .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card:hover .add-to-cart {
    bottom: 15px; 
    opacity: 1; 
  }

  .heart-clicked{
    background-color: red;
    fill-rule: nonzero;
  }
  