*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000;
}
.links,.icons,.navbar{
    display: flex;
    align-items: center;
}
.navbar{
    justify-content: space-around;
    align-items: center;
    border-radius: 2rem;
    width: 90%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ECECEC;
    color: #fff;
    padding: 12px;
}
.logo{
    height: 50px;
}
.navbar ul{
    list-style: none;
}

ul li a{
    margin: 15px;
    text-decoration: none;
}
